@font-face {
  font-family: 'DIN PRO';
  src: url('../fonts/DINPro-CondensedMedium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'DIN PRO';
  src: url('../fonts/DINPro-CondensedMediumItalic.woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'DIN PRO';
  src: url('../fonts/DINPro-CondensedBold.woff');
  font-weight: 700;
}

@font-face {
  font-family: 'DIN PRO';
  src: url('../fonts/DINPro-CondensedBlack.woff');
  font-weight: 900;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans-Medium.woff');
  font-weight: 500;
}

@font-face {
  font-family: 'Solomon Sans';
  src: url('../fonts/SolomonSans-Bold.woff');
  font-weight: 700;
}