// Footer
.footer {
  padding-bottom: 60px;

  @media (max-width: $breakpoint768) {
    padding-bottom: 30px;
  }

  // .footer__inner

  &__inner {}

  // .footer__socials

  &__socials {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 84px;

    @media (max-width: $breakpoint992) {
      margin-bottom: 60px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      margin-bottom: 40px;
      justify-content: center;
      align-items: center;
    }

  }

  // .footer__social

  &__social {
    display: flex;
    align-items: center;
    gap: 30px;

    svg path {
      transition: fill 0.2s linear;
    }

    &:hover {
      .footer__social-icon {
        border-color: var(--yellow-color);

        svg path {
          fill: var(--yellow-color);
        }
      }

      .footer__social-descr {
        color: var(--yellow-color);
      }
    }

    @media (max-width: $breakpoint992) {
      gap: 10px;
    }

    @media (max-width: $breakpoint768) {
      min-width: 240px;
    }

  }

  // .footer__social-icon

  &__social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    border: 1px solid #999999;
    border-radius: 100%;
    transition: border 0.2s linear;

    @media (max-width: $breakpoint1450) {
      width: 100px;
      height: 100px;
    }

    @media (max-width: $breakpoint992) {
      width: 80px;
      height: 80px;
    }
  }

  // .footer__social-descr

  &__social-descr {
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: var(--white-color);
    transition: color 0.2s linear;

    @media (max-width: $breakpoint1450) {
      font-size: 22px;
      line-height: 24px;
    }

    @media (max-width: $breakpoint992) {
      font-size: 18px;
      line-height: 20px;
    }
  }

  // .footer__bottom

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding-top: 44px;
    border-top: 1px solid #999999;
    font-family: var(--secondary-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: var(--white-color);

    @media (max-width: $breakpoint992) {
      font-size: 14px;
    }

    @media (max-width: $breakpoint768) {
      flex-direction: column;
      padding-top: 30px;
    }
  }

  // .footer__copy

  &__copy {}

  // .footer__project

  &__project {
    color: var(--white-color);
    transition: color 0.2s linear;

    span {
      color: var(--yellow-color);
    }

    &:hover {
      color: var(--yellow-color);
    }
  }

  // .footer__political

  &__political {
    color: var(--white-color);
    transition: color 0.2s linear;

    &:hover {
      color: var(--yellow-color);
    }
  }
}