// ************************ Модальное окно ************************ //

.graph-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-modal__close {
  top: -40px;
  background-image: url('../img/cancel.svg');
}

@media (max-width: 1024px) {
  .graph-modal__container {
    width: 97%;
    margin: 0 auto;
  }
}


.graph-modal__container {
  padding: 0;
  height: 600px;
  background-color: transparent;

  @media (max-width: $breakpoint992) {
    height: 500px;
  }

  @media (max-width: $breakpoint768) {
    height: 350px;
  }

  @media (max-width: $breakpoint480) {
    height: 200px;
  }
}

.youtube__iframe {
  width: 100%;
  height: 600px;

  @media (max-width: $breakpoint992) {
    height: 500px;
  }

  @media (max-width: $breakpoint768) {
    height: 350px;
  }

  @media (max-width: $breakpoint480) {
    height: 200px;
  }
}


.disable-scroll {
  position: static !important;
  height: auto !important;
  top: auto !important;
  padding-right: 0 !important;
}