// Container & Breakpoints
@use 'sass:math';
$containerWidth: 1160;
$containerPadding: 30;
$containerSidePadding: math.div($containerPadding, 2);
$breakpoint1450: 1449.98+px;
$breakpoint992: 991.98+px;
$breakpoint768: 767.98+px;
$breakpoint480: 479.98+px;

// Burger Menu
$burgerBreakpoint: $breakpoint992;
$burgerColor: 'black';
$burgerActiveColor: 'white';

:root {
  // fonts
  --primary-font: 'DIN PRO', san-serif;
  --secondary-font: 'Solomon Sans', san-seirf;

  //colors
  --white-color: #ffffff;
  --yellow-color: #DCB252;
  --blue-color: #1B1B1B;
  --bg-color: #121212;
}